/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* styles */
    body {
        background: url(../images/fotos.jpg) no-repeat;
        background-position: center 0
    }
    #top {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%; /* Ширина слоя в пикселах */
    } 
    #fractal {
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -48px; /* Отступ слева */
        width: 96px; /* Ширина слоя в пикселах */
        height: 1038px; /* Высота слоя в пикселах */
        background-image: url(../images/fractal.png);
        background-position: center 0; 
    }    
    #content {
        position: absolute; /* Абсолютное позиционирование */
        width: 302px; /* Ширина слоя в пикселах */
        left: 50%; /* Положение слоя от левого края */
        top: 280px; /* Положение слоя от верхнего края */
        margin-left: -180px; /* Отступ слева */
        background: white; /* Цвет фона */
        padding: 58px 34px; /* Поля вокруг текста */
        overflow: auto; /* Добавление полосы прокрутки */
        padding-bottom: 24px;
    }
    #logo {
        position: absolute;
        left: 50%;
        top: 90px;
        margin-left: -187px; /* Отступ слева */
        width: 374px; /* Ширина слоя в пикселах */
        height: 101px; /* Высота слоя в пикселах */
        background-image: url(../images/logo.png);
        background-position: center center;
    }
    #close {
        position: absolute;
        right: 89px;
        top: 93px;
        width: 24px; /* Ширина слоя в пикселах */
        height: 23px; /* Высота слоя в пикселах */
        background-image: url(../images/close.png);
        background-position: center center;
    }
    p {
        margin-bottom: 24px;
        line-height: 23px;
    }
    .form {
        border: 1px solid #52b4d7;
        height: 23px;
        font-weight: bold;
        text-align: center;
    }
    input {
        width: 134px;
        
    }
    label {
        display: block;
        width: 74px;
        float: left;
    }
    select {
        width: 134px;
    }
    hr {
        color: #52b4d7
    }
    .persona {
        width: 210px
    }
    button {
        display: block;
        margin-left: 87px;
        height: 56px;
        width: 134px;
        text-align: center;
        background-color: #dc4b1d;
        border: 0;
    }
    .price {
        display: block;
        height: 24px;
        width: 104px;
        float: right;
        background-color: #efcf49;
        text-align: center;
        font-weight: bold;
    }
    #contentst2 {
        position: absolute; /* Абсолютное позиционирование */
        width: 248px; /* Ширина слоя в пикселах */
        left: 50%; /* Положение слоя от левого края */
        top: 490px; /* Положение слоя от верхнего края */
        margin-left: -150px; /* Отступ слева */
        background: #5ab7d4; /* Цвет фона */
        padding: 30px 31px; /* Поля вокруг текста */
        overflow: auto; /* Добавление полосы прокрутки */
        padding-bottom: 24px;
        text-align: center;
        visibility: hidden
    }
    #contentst2 button {
        display: block;
        margin-left: 74px;
        margin-bottom: 10px;
        height: 50px;
        width: 100px;
        text-align: center;
        background-color: white;
        border: 0;
    }
    #contentst2 p {
        margin-bottom: 30px;

    }
    #background {
        background: white;
        opacity: 0.5;
        background-size: 100%;
        height: 1038px;
        visibility: hidden
    }
    .attention {
        position: absolute;
        color: red;
        margin-left: 74px;
    }
    #data1 {
        margin-top: 25px;
        visibility: hidden

    }
    #data2 {
        margin-top: 74px;
        visibility: hidden

    }
    #name {
        margin-top: 344px;
        visibility: hidden

    }
    #mail {
        margin-top: 394px;
        visibility: hidden

    }
    #code {
        margin-top: 502px;
        margin-left: 110px;
        visibility: hidden
    }
    
    
